table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 70vh;
}

td {
    text-align: center;
    width: 10rem;
    height: 2rem;
    /* background-color: antiquewhite; */
}

th {
    background-color: gray;
    color: white;
}

tr:nth-child(odd){
    background-color: gray;
}

tr:hover {
    background-color: rgb(0, 193, 173);
}

td span{
    font-weight: 700;
    color: tomato;
}