@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 69, 87);
    height: 30vh;
}

h1{
    color: white;
    font-size: 3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

button{
    border-radius: 5px;
    transition: box-shadow .5s, transform .5s;
}

button:hover{
    box-shadow: 5px 5px 10px black;
    transform: translateY(-2px);
}

.btn{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgb(169, 40, 40);
    border: none;
    color: white;
}

div#display{
    border: 1px dotted black;
    height: 50vh;
    padding: 2rem;
    margin: 1rem;
}